*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html{
    background-color: #e2eaf5;
}

body{
   /* max-width: 1440px;  para telas maiores funciona muito bem*/ 
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    
}

.app-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    
}

.navbar-container{
    display: flex;
    align-items: center;
}

.navbar-container > img{
    margin-right: 20px;
}

.custrom-input{
    border: none;
    border-radius: 15px;
    background-color: #fdfffe;
    color: #232323;
    padding: 16px;
    width: 100%;

}

.custrom-input:focus{
    outline: 2px solid #3aa2ff; 
}
.custrom-input::placeholder{
    color: #b1b8c0;
}


/* Inicio de Show case*/

.showcase-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
}

.showcase-container > img{
    width: 220.8px;
    height: 191px;
    
}

.showcase-container .showcase-text > h2:first-child{
    font-size: 2.120rem;
    font-weight: 700;
    color: #2A394F;
}
.showcase-container .showcase-text > h2:last-child {
    font-size: 3.190rem;
    font-weight: 700;
    color: #2A394F;
}

.showcase-container .showcase-text > p{
    font-size: 15px;
    margin-bottom: 15px;
    color: #9AA0A8;
    line-height: 100%;
    font-weight: 500;
    font: medium;
}